[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"mypy" = "*"
"pipenv-setup" = "*"
"pytest" = "*"
"pytest-mock" = "*"
"upbge-stubs" = "==0.3.*"

[packages]
"numpy" = "1.19.5"
"rx" = "3.2.0"
"returns" = "0.16.0"
"validator-collection" = "1.5.0"
"dependency-injector" = "4.36.0"
"alleycat-reactive" = "0.4.7"
"pangocairocffi" = "0.6.0"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true